.footer {
    background-color: #181818 !important;
}

.container {
    height: 50px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    font-size: 0.75rem !important;
    color: rgb(255,255,255,0.75);
}