* {
    font-weight: bold;
    font-size: 20px;
}

.signin .btn:focus {
    border-color: transparent !important;
}

.btn-outline-light {
    border: 1px solid white !important;
}


.btn-outline-light:hover {
    background-color: transparent !important;
    color: white !important;

}

.btn-hover {
    transition: transform .2s;
}

.btn-hover:hover {
    transform: translateY(-5px);
}

.navbar {
    transition: 0.5s;
}

.navbar-scrolled {
    background-color: rgb(0, 0, 0, 0.8) !important;
}